<section class="enterprise" data-name="section">
    <div class="section-inner responsive">
        <div class="section-t">
            Enterprise .NET Ecommerce Platform <br>for B2B and B2C Solutions
        </div>
    </div>
</section>